 body{
    background-image: url(https://www.apogeerockets.com/images/newsletter/Newsletter-580-Images/Newsletter-580-Figure-4-L.jpg);
    background-repeat: no-repeat;
    background-size: cover;
 }

 .container{
    color: white;
    /* papdding é o preenchimento, espaçamento */
    padding: 80px;  
 }

 .card{
    text-align: center;
    background-color: black;
    border-radius: 10px;
    padding: 20px;
    width: 500px;
    height: 500px;
    margin: 50px;
 }
 

 a{
    padding: 10px;
    background-color: white;
    border-radius: 2px;
    text-decoration: none;
 }

